
         body{background: white}
.sidebear{background-image: url(image/background_sidebar.jpg);}

h3::before{ margin:0 15px 0 0 ;
    float: left;
  
 }

ul{ list-style: none
}
.projet li{ display: inline;
    margin: 50px;
    font-style: italic;}

    .contact{ margin: auto;
    }
          p {font-style: italic}

          h3::before{ margin:0 15px 0 0 ;
            float: left; }
 

        