

.titre{
    text-align: center;
    font-size: 5em;
    font-style: oblique 40deg;
}

p{
    font-style: oblique ;
    text-align: center;
    font-size: 1.5em;
}

h2{
    color: rgb(255, 4, 4);
    text-align: center;
    font-size: 4em;
}

.info{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

h4{
    text-align: center;
}

.perso li
   {    display: inline;
        margin: 90px;
        font-style: italic;
        font-size: 1.4em;
    }



