
         body{
            background: repeating-radial-gradient(farthest-side ellipse at center, rgb(185, 152, 216), rgb(130, 162, 233), rgb(199, 140, 233) );}


h3::before{ margin:0 15px 0 0 ;
    float: left;
  
 }

ul
{ 
    list-style: none;
}
.projet li
   {    display: inline;
        margin: 50px;
        font-style: italic;
    }

.contact
    { 
        margin: auto;
    }

    /* MENUS */
 nav.menu {
    background-color: #003664;
    height: 55px;
    position: relative;
}


nav.menu div.container {
    position: relative;
    z-index: 99;
}

.lAccount {
  
    margin-left: 42px;
    margin-top: 15px;
}
.lAccount li > a {
    font-size: 14px;
}
.lAccount li > a:hover {
    text-decoration: none;
    color: #fff;
}
ul.lAccount {
    display: flex; 
}
ul.lAccount li {
    list-style: none;
    width: 150px;
}

div.container:nth-child(3) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) {
    text-align: right;
    padding-top: 15px;
    color: #fff;
}



    
        