
@keyframes masuperanimation {
  0% {
      transform: translateX(0px);
  }

  50% {
      transform: translateX(150px);
  }

  100% {
      transform: translateX(150px) rotate(5deg);
  }
}

.row.featurette:hover
{
  animation: masuperanimation 3s ; /* On utilise "ma super animation" définie plus tôt */
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

.titreOL{
    color: rgb(3, 22, 129);
}